@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-family: var(--font-family-1);
}

:root {

    /* fon-size */

    --fon-size-8: 8px;
    --fon-size-10: 10px;
    --fon-size-12: 12px;
    --fon-size-14: 14px;
    --fon-size-16: 16px;
    --fon-size-18: 18px;
    --fon-size-20: 20px;
    --fon-size-24: 24px;
    --fon-size-28: 28px;
    --fon-size-32: 32px;
    --fon-size-36: 36px;
    --fon-size-40: 40px;
    --fon-size-44: 44px;
    --fon-size-48: 48px;

    /* fon-famly */

    --font-family-1: 'Montserrat';
    --font-family-2: 'Montserrat Alternates', sans-serif;
    --font-family-3: 'Roboto', sans-serif;
    --font-family-4: 'Rubik', sans-serif;
    --font-family-5: 'Poppins', sans-serif;
    --font-family-6: 'Open Sans', sans-serif;
    --font-family-7: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    /* font-wight */

    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;

    /* colors */

    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #949494;
    --color-gray-blue: #292F33;
    --color-light-gray: #EBE9E9;
    --color-light-green: #39B54A;
    --color-light-green-2: #38AE6C;
    --color-warning: #FF4244;
    --color-yellow: #F8D12E;
    --color-red: red;

    /* gap */

    --gap-5: 5px;
    --gap-10: 10px;
    --gap-15: 15px;
    --gap-20: 20px;
    --gap-25: 25px;
    --gap-30: 30px;
    --gap-35: 35px;
    --gap-40: 40px;
    --gap-45: 45px;

    /* transition */

    --transition-1: 0.3s ease-in-out;
    --transition-2: 0.5s ease-in-out;
    --transition-3: 0.7s ease-in-out;
    --transition-4: 0.9s ease-in-out;

    /* borde-radius */

    --border-radius-5: 5px;
    --border-radius-10: 10px;
    --border-radius-15: 15px;
    --border-radius-20: 20px;
    --border-radius-25: 25px;
    --border-radius-30: 30px;

    /* box-shadow */
    --box-shadow-1: 0px 0px 5px rgba(0, 0, 0, 0.1);
    --box-shadow-2: 0px 0px 10px rgba(0, 0, 0, 0.1);
    --box-shadow-3: 0px 0px 15px rgba(0, 0, 0, 0.1);
    --box-shadow-4: 0px 0px 20px rgba(0, 0, 0, 0.1);
    --box-shadow-5: 0px 0px 25px rgba(0, 0, 0, 0.1);
    --box-shadow-6: 0px 0px 30px rgba(0, 0, 0, 0.1);

}


main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-section {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--gap-30);
}

.product-card {
    width: 250px;
    height: 370px;
    border-radius: var(--border-radius-20);
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: var(--transition-1);
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card .product-head {
    width: 100%;
    height: 170px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card .product-head img {
    width: 70%;
    object-fit: cover;
}

.product-card .product-head span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px;
    border-radius: var(--border-radius-10);
    border: 1px solid var(--color-gray-blue);
}

.product-card .product-head span .bx {
    font-size: var(--fon-size-24);
    cursor: pointer;
    color: var(--color-gray-blue);
    transition: var(--transition-1);

    &:hover {
        color: var(--color-warning);
    }
}

.product-card .product-main {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.product-main .product-main-Special-offers {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: var(--gap-15);
}

.product-main-Special-offers .symbols {
    padding: 3px 8px;
    background-color: var(--color-red);
    border-radius: var(--border-radius-15);
}

.product-main-Special-offers .symbols h1 {
    font-size: var(--fon-size-14);
    font-weight: var(--font-weight-400);
    color: var(--color-white);

}

.at-symbols {
    padding: 3px 8px;
    background-color: var(--color-light-green);
    border-radius: var(--border-radius-15);
    color: var(--color-white);
}

.at-symbols p {
    font-size: var(--fon-size-14);
}

.product-main .about-product {
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.product-main .about-product h1 {
    font-size: var(--fon-size-18);
    color: var(--color-black);
    font-weight: var(--font-weight-500);
}

.product-weight {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: var(--gap-10);
    color: var(--color-gray-blue);
}

.product-price {
    width: 100%;
    display: flex;
    gap: var(--gap-15);
}

.symbols-product-price,
.actual-price {
    display: flex;
    align-items: center;
    flex: 1;
}

.symbols-product-price h1 {
    font-size: var(--fon-size-18);
    color: var(--color-red);
}

.actual-price p {
    text-decoration: line-through;
    color: var(--color-gray-blue);
    text-decoration-color: var(--color-gray);
}

.product-card .product-footer {
    width: 100%;
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-footer {
    gap: var(--gap-20);
}

.product-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    border: 1px solid var(--color-black);
    border-radius: var(--border-radius-10);
    flex: 1;
}

.decrease,
.increase {
    height: 30px;
    width: 30px;
    border: 1px solid var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.decrease .bx {
    color: var(--color-red);
}


.increase .bx {
    color: var(--color-light-green);
}

.show-cunt-product {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-cunt-product h1 {
    font-size: var(--fon-size-24);
    font-weight: var(--font-weight-600);
}

.shop-product-btn {
    flex: 1;
    border-radius: var(--border-radius-10);
    background-color: var(--color-light-green);
    color: var(--color-white);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-light-green);
    transition: var(--transition-2);
    cursor: pointer;

    &:hover {
        background: none;
        transform: translateY(-5px);
    }
}

.shop-product-btn .bx {
    font-size: var(--fon-size-20);
    color: var(--color-white);
    transition: var(--transition-1);
}

.shop-product-btn:hover .bx {
    color: var(--color-light-green);
}

.brands-section {
    max-width: 1200px;
    margin: 120px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-30);
}

.brands-section h2 {
    margin-bottom: 5px;
}

.brands-section p {
    color: gray;
    margin-bottom: 20px;
}

.brands-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--gap-30);
}

.brand-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: var(--transition-1);
    transition: var(--transition-1);
}

.brand-item:hover {
    transform: translateY(-10px);
}

.brand-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


.options-grid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.option-box {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: var(--border-radius-20);
    background-color: #e5f0ff;
    /* Default blue-ish */
    gap: var(--gap-15);
    transition: var(--transition-1);
    cursor: pointer;
    position: relative;
}

.option-box:hover {
    transform: translateY(-10px);
    box-shadow: var(--box-shadow-3);
}

.option-box.yellow {
    background-color: #fff5cc;
}

.option-box img {
    width: 80px;
    height: 60px;
    object-fit: cover;
}

.option-text h4 {
    margin: 0;
    font-size: 16px;
}

.option-text p {
    margin: 5px 0 0 0;
    color: gray;
    font-size: 14px;
}


.special-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: var(--gap-30);
    max-width: 1200px;
    width: 90%;
    margin-top: 150px;
}

.special-box {
    height: 250px;
    background: #36a846;
    color: white;
    border-radius: var(--border-radius-20);
    padding: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: var(--transition-1);
}

.special-box:hover {
    transform: translateY(-10px);
    box-shadow: var(--box-shadow-4);
}

.special-box img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

.special-box span {
    color: #ffeb3b;
    font-weight: bold;
}

.special-box h2,
.special-box p {
    margin: 0;
    line-height: 1.4;
    z-index: 2;
    position: relative;
}

.special-box h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.special-box p {
    font-size: 1.2rem;
}

.special-box:nth-child(odd) {
    background: #4caf50;
}

.whatsapp-banner {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9fafa;
    border-radius: 8px;
    padding: 20px 30px;
    width: 90%;
    max-width: 1200px;
    box-shadow: var(--box-shadow-2);
    border: 1px solid var(--color-gray-blue);
}

.whatsapp-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.whatsapp-icon {
    width: 100px;
    height: 100px;
}

.whatsapp-text {
    font-size: var(--fon-size-24);
    line-height: 1.4;
}

.whatsapp-text span {
    color: #25D366;
    font-weight: bold;
}

.whatsapp-text strong {
    display: block;
    color: #111;
    font-size: 20px;
}

.join-btn {
    background-color: #1c1c1c;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: var(--fon-size-24);
    border-radius: var(--border-radius-20);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.join-btn:hover {
    background-color: #000;
}


.promo-section {
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: var(--gap-45);
    margin-top: 100px;
}

.promo-text {
    max-width: 500px;
}

.promo-text h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #000;
}

.promo-text h1 {
    font-size: 40px;
    color: #ff4d4d;
    margin-top: 0;
    margin-bottom: 30px;
}

.store-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.store-buttons img {
    height: 50px;
    cursor: pointer;
}

.secure-payments {
    font-size: 16px;
    color: #444;
    display: flex;
    align-items: center;
    gap: 10px;
}

.stripe-badge {
    border: 2px solid #d0d8ff;
    color: #635bff;
    background: #f4f5ff;
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
}

.promo-image {
    position: relative;
}

.promo-image img {
    width: 200px;
    max-width: 100%;
}
