@media (max-width: 1200px) {}

@media (max-width: 100px) {}

@media (max-width: 992px) {
    .head-dash .logo a img {
        width: 100%;
        max-width: 150px;
        height: auto;
        border: 1px solid var(--color-black);
        border-radius: var(--border-radius-10);
    }

    .acc-user-box a h1 {
        display: none;
    }

    .head-dash-btn .Categories a .bx,
    .head-dash-btn .sort-products a .bx,
    .head-dash-btn .basket a .bx {
        font-size: var(--fon-size-24);
    }

    .head-dash-btn .basket a span {
        font-size: var(--fon-size-20);
    }

    .head-dash-btn .basket a span h1 {
        font-size: var(--fon-size-20) !important
    }

    .header-max-container .head-dash .head-search .input-head {
        height: 45px;
        padding: 5px 10px;
    }


    .header-max-container .head-dash .head-dash-btn {
        gap: var(--gap-20);
        flex: 0.5;
    }

    .home-section .home-page {
        height: 400px;
    }

    .home-section .home-page .c {
        height: 300px;
    }

    .container {
        flex-direction: column;
    }

    .cart-item {
        justify-content: space-between;
    }

    .price,
    .total,
    .remove {
        width: auto;
        font-size: 0.9em;
    }

    .product-section {
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr)) !important;
    }
}

@media (max-width: 768px) {

    header .head-max-container-1 {
        display: none;
    }

    .head-dash .logo {
        display: none !important;
    }

    .head-ac-max .menu {
        display: flex;
    }

    .brands-section .brands-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .options-grid {
        grid-template-columns: 1fr !important;
    }

    .head-ac-max span {
        display: none !important;
    }

    .head-ac-max .logo2 {
        display: flex !important;
    }
}

@media(max-width: 650px) {
    .head-dash {
        flex-direction: column;
        height: 150px !important;
        gap: 0px !important;
    }
    
    .head-dash-btn{
        padding: 20px;
    }
}

@media (max-width: 576px) {}

@media (max-width: 480px) {
    .brands-section .brands-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 360px) {}

@media (max-width: 320px) {}